{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Categories</h2>

<form method="get">
  <input
    type="text"
    name="q"
    placeholder="Search category"
    value="{{ query }}"
  >
  <button type="submit">Search</button>
</form>

<hr>

{% if categories %}
  <ul>
    {% for category in categories %}
      <li>
        <a href="{% url 'category_detail' category.id %}">
          {{ category.name }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No categories found.</p>
{% endif %}
{% endblock %}