{% extends "auctions/layout.html" %}

{% block body %}
  <h2>Create New Listing</h2>

  <form action="{% url 'create_listing' %}" method="post">
    {% csrf_token %}

    <div>
      <label>Title</label><br>
      <input type="text" name="title" required>
    </div>

    <div>
      <label>Description</label><br>
      <textarea name="description" rows="4" required></textarea>
    </div>

    <div>
      <label>Starting Bid</label><br>
      <input type="number" name="starting_bid" step="0.01" required>
    </div>

    <div>
      <label>Image URL (optional)</label><br>
      <input type="file" name="image"><form method="post" enctype="multipart/form-data">
      {% csrf_token %}

    </div>

    <div>
      <label>Category (optional)</label><br>
      <select name="category">
        <option value="">-- Select category --</option>
        {% for category in categories %}
          <option value="{{ category.id }}">{{ category.name }}</option>
        {% endfor %}
      </select>
      <br><br>
      <label> Or add new category </label>
      <br> <input type="text" name="new_category" placeholder="e.g Electronics">
    </div>

    <br>

    <button type="submit">Create Listing</button>
  </form>
{% endblock %}
